
<div class="container">
  <h1 class="p-2 display-5">My Bookings</h1>
  <p>Here are all your bookings <%= current_user.first_name %>. Don't forget to leave a review!</p>
  <div class="card-container" id="accordian">
    <% @bookings.each_with_index do |booking, index| %>
      <% pokemon = booking.pokemon %>
      <% review = booking.review %>
      <div class="card-product p-3">
        <img src="<%= pokemon.photo %>">
        <div class="card-product-infos">
          <div class="row">
            <div class="col-8 flex-column d-flex">
              <h2>
                <%= pokemon.name.titleize %>
              <small>
                <% if (review) %>
                  <span class="stars badge badge-pill">
                    <% review.rating.times do  %>
                      <i class='fas fa-star'></i>
                    <% end %>
                    <% (5 - review.rating).times do  %>
                      <i class='far fa-star'></i>
                    <% end %>
                  </span>
                <% end %>
                <% if (Time.now > booking.end_dt && !booking.review) %>
                  <span id="starspan"><button type="button" data-toggle="collapse" data-target="#collapse<%= index + 1 %>" aria-expanded="false" aria-controls="collapse<%= index + 1 %>">Write Review</button></span>
                <% elsif (Time.now < booking.start_dt ) %>
                  <span class="badge badge-pill badge-primary"> Upcoming!
                  </span>
                  <%= link_to '', booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class:'fas fa-trash red' %>
                <% elsif (Time.now > booking.start_dt && Time.now < booking.end_dt) %>
                  <span class="badge badge-pill badge-success">Ongoing!</span>
                <% end %>
              </small>
              </h2>

              <p>
                You rented this pokemon from
                <%= booking.start_dt.to_formatted_s(:rfc822) %>
              to <%= booking.end_dt.to_formatted_s(:rfc822) %> from owner <strong><%= User.find(pokemon.user.id).first_name %></strong>
              </p>
            </div>
            <div class="col-4 flex-row justify-between text-right">
              <h6>$<%= booking.price_paid.to_i %> </h6>
              <p>Booking ID: <%= booking.id %></p>

            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapse<%= index + 1 %>" data-parent="#accordian">
        <div class="card card-body" id="new_review_<%= booking.id %>">
          <%= render 'reviews/form', booking: booking, review: @review %>
        </div>
      </div>
    <% end %>
  </div>
</div>
