<div class="container">
  <%= simple_form_for(@pokemon) do |f| %>
    <% if @pokemon.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @pokemon.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group pt-3 pb-4">

      <%= f.label :name, "Pokemon", class: "input-control" %> <br>
      <%= f.select :name, options_for_select(@names), class: "form-control" %> <br><br>

      <%= f.label :level, class: "input-control" %> <br>
      <%= f.text_field :level, class: "form-control"  %> <br>

      <%= f.label :address, class: "input-control" %> <br>
      <%= f.text_field :address, class: "form-control" %> <br>

      <%= f.label :price_per_day, class: "input-control" %> <br>
      <%= f.text_field :price_per_day, class: "form-control" %> <br>

      <%= f.submit "Submit Pokemon", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

