<h3><%= selected.name %></h3>

  <strong>Category: </strong><%= selected.category %>,
  <strong>Level: </strong><%= selected.level %>,
  <strong>Address: </strong><<%= selected.address %>,
  <strong>Rating: </strong><%= selected.rating %>,
  <strong>Price per day: </strong><%= selected.price_per_day %>

