<div class="container">
  <h5 class="pt-3 text-center">Search for your favorite pokemon below..</h5>
  <form>
    <%= form_tag pokemons_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control my-3",
        placeholder: "Find a pokemon"
      %>
    <% end %>
  </form>

  <div
    mapindex="<%= @mapindex %>"
    id="map"
    style="width: 100%;
    height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

  <div class="card-container">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon) do  %>
        <div class="card-product">
          <img src="<%= pokemon.photo %>">
          <div class="card-product-infos">
            <div class="row">
              <div class="col-6 justify-around">
                <h2><%= pokemon.name.titleize %></h2>
                <p>This pokemon is a <strong><%= pokemon.category %></strong> type.</p>
                <p>Level <%= pokemon.level %></p>
              </div>
              <div class="col-6 justify-around text-right">
                <h2>$<%= pokemon.price_per_day %> per day</h2>
                <p>Rating: <%= pokemon.rating %></p>
                <p>Owner: <%= pokemon.user.first_name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
   </div>
</div>
