<div class="container">
  <h1 class="p-2 text-center" style="font-family: 'Press Start 2P', cursive;">PokePoke</h1>
  <h6 class="p-2 text-center">A wild Squirtle appeared! Matey, you're walking the plank if you lose! My function is to provide Ash with information and advice regarding Pokémon and their training. If lost or stolen, I cannot be replaced. If I had started as a trainer at your age... </h6>
  <form>
    <%= form_tag pokemons_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control my-3 float-left",
        placeholder: "Find a pokemon"
      %>
    <% end %>
  </form>

  <div
    mapindex="<%= @mapindex %>"
    id="map"
    style="width: 100%;
    height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

  <div class="card-container">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon) do  %>
        <div class="card-product">
          <img src="<%= pokemon.photo %>">
          <div class="card-product-infos">
            <div class="row">
              <div class="col-6 justify-around">
                <h2><%= pokemon.name.titleize %></h2>
                <p>This pokemon is a <strong><%= pokemon.category %></strong> type.</p>
                <p>Level <%= pokemon.level %></p>
              </div>
              <div class="col-6 justify-around text-right">
                <h2>$<%= pokemon.price_per_day %> per day</h2>
                <p>Rating: <%= pokemon.rating %></p>
                <p>Owner: <%= pokemon.user.first_name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
   </div>
</div>
