<div class="container">
  <h5 class="pt-3 text-center">Search for your favorite pokemon below..</h5>
  <form>
    <div class="form-group">
      <div class="d-flex justify-space-between">
        <input id="pokemon-search" class="m-3" type="text" placeholder="Find your favourite pokemon today...">
        <%= link_to 'Search', pokemons_path, class:'mt-3 mb-3 btn btn-success' %>
      </div>
      <div class="container-fluid d-flex justify-space-between">
        <div class="col-4">
          <label for="price-search">Price</label>
          <input id="price-search" class="m-3" type="number">
        </div>
        <div class="col-4">
          <label for="rating-search">Rating</label>
          <input id="rating-search" class="m-3" type="number">
        </div>
        <div class="col-4">
          <label for="address-search">Address</label>
          <input id="address-search" class="m-3" type="text">
        </div>
      </div>
    </div>
  </form>

  <div
    mapindex="<%= @mapindex %>"
    id="map"
    style="width: 100%;
    height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

  <div class="card-container">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon) do  %>
        <div class="card-product">
          <img src="<%= pokemon.photo %>">
          <div class="card-product-infos">
            <div class="row">
              <div class="col-6 justify-around">
                <h2><%= pokemon.name.titleize %></h2>
                <p>This pokemon is a <strong><%= pokemon.category %></strong> type.</p>
                <p>Level <%= pokemon.level %></p>
              </div>
              <div class="col-6 justify-around text-right">
                <h2>$<%= pokemon.price_per_day %> per day</h2>
                <p>Rating: <%= pokemon.rating %></p>
                <p>Owner: <%= pokemon.user.first_name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
   </div>
</div>
