<div class="container">
    <h1 class="p-2 text-center" style="font-family: 'Press Start 2P', cursive;"><%= current_user.first_name %>'s Pokemon</h1>
    <p>A wild Bulbasaur appeared! Meowth, that's right! Sometimes, you can find stuff on the ground! To unite all peoples within our nation. The early bird gets the worm, or in this case the Pokemon. My Pa said there are 100 kinds of Pokemon. I think there are more. I came down here to show off to girls.</p>
  <%= link_to "Add new Pokemon", new_pokemon_path, class: "btn btn-primary m-2" %>
  <div class="card-container" id="target">
    <% @pokemons.each_with_index do |pokemon, index| %>
      <div class="card-product" data-toggle="collapse" data-parent="#target" href="#collapse<%= index + 1 %>">
        <%= link_to pokemon_path(pokemon) do  %>
        <img src="<%= pokemon.photo %>">
         <% end %>
        <div class="card-product-infos">
          <div class="row">
            <div class="col-6 justify-around">
              <h2>
                <%= pokemon.name.titleize %>
                <% active = 0 %>
                <% past = 0 %>
                <% pokemon.bookings.each do |b| %>
                  <% if b.end_dt > Time.now %>
                    <% active += 1 %>
                  <% else %>
                    <% past += 1 %>
                  <% end %>
                <% end %>
                <span class="badge badge-pill badge-success"><%= active unless active == 0 %></span>
                <span class="badge badge-pill badge-info"><%= past unless past == 0 %></span>
                <span class="stars float-right">
              </h2>
              <p>This pokemon is a <strong><%= pokemon.category %></strong> type.</p>
              <p>Level <%= pokemon.level %></p>
            </div>
            <div class="col-6 justify-around text-right">
              <h2>
                <% sum = 0 %>
                <% pokemon.bookings.each do |b| %>
                  <% sum += b.price_paid.to_i %>
                  <% end %>
                  Income: $<%= sum %>
              </h2>
              <br>
              <p>Rating: <%= pokemon.rating %></p>
            </div>
          </div>
        </div>
      </div>
      <% if pokemon.bookings.length > 0 %>
    <div id="collapse<%= index+1 %>" class="panel-collapse collapse">
      <div class="container">
        <div class="card-container">
          <% pokemon.bookings.each do |booking| %>
            <div class="card-product p-3">
              <div class="card-product-infos-inv">
                <div class="row">
                  <div class="col justify-between">
                    <h2>
                      Booking ID: <%= booking.id %>
                      <small> - Renter: <%= User.find(booking.user.id).first_name %></small>
                      <% if (Time.now > booking.end_dt) %>
                        <span></span>
                      <% elsif %>
                        <%= link_to '', booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class:'fas fa-trash red' %>
                      <% end %>
                    </h2>
                    <li><%= booking.start_dt.to_formatted_s(:rfc822) %> to <%= booking.end_dt.to_formatted_s(:rfc822)   %></li>
                    <%# else %>
                      <!-- <img class= 'completed' src="https://res.cloudinary.com/deyw9z6tu/image/upload/c_scale,q_61,r_10,w_100/v1559055260/PokePoke/completed_nje2az.png"> -->
                  </div>
                  <div class="col justify-around text-right">
                    <h2>Total: $<%= booking.price_paid %> </h2>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
