<div class="container">
  <h1 class="p-2">&nbsp;<%= @pokemon.name.titleize %>

  <% if policy(@pokemon).edit? %>
    <small>
      <%= link_to edit_pokemon_path(@pokemon) do %>
        <i class="fa fa-pencil-alt"></i>
      <% end %>
      <% if @pokemon.is_active %>
        <%= link_to deactivate_path(@pokemon), method: :patch do %>
          <i class="fas fa-circle" style="color: green;"></i>
        <% end %>
      <% else %>
        <%= link_to reactivate_path(@pokemon), method: :patch do %>
          <i class="fas fa-circle" style="color: red;"></i>
        <% end %>
      <% end %>
    </small>
  <% end %>

  </h1>
  <hr>

  <div class="card-show">
    <div class="top-card d-flex">
      <div class="image">
           <%= image_tag @pokemon.photo, width: 200, crop: :scale %>
      </div>
        <div class="show-map"
          id="map"
          style="width: 100%;
          height: 350px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="list">

            <p><strong>Pokemon details</strong></p>
              <li>Type: <%= @pokemon.category.titleize %></li>
              <li>Level: <%= @pokemon.level %></li>
              <li>City: <%= @pokemon.address.titleize %></li>
              <li>Rating: <%= @pokemon.rating %></li>
              <li>Price: $<%= @pokemon.price_per_day.to_i %> a day</li>
              <br>

          </div>
        </div>
        <div class="col-8">
          <% if policy(@pokemon).edit? %>
            <%= render "reviews" %>
          <% else %>
            <%= render "bookings/new" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
