<%= render 'shared/navbar' %>


<div class="container">
  <h1>Pokemon Booking Form</h1>
  <br>
  <br>
  <br>
  <h2>&nbsp;<%= @pokemon.name %></h2>
  <hr>

  <div class="card-show">
    <div class="image">
      <% if @pokemon.photo.present? %>
        <%= cl_image_tag @pokemon.photo, width: 350, crop: :scale %>
      <% end %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="list">

            <p><strong>Pokemon details</strong></>
              <li>Name</li>
              <li>Type</li>
              <li>Level</li>
              <li>Location</li>
              <li>Rating</li>
              <br>

          </div>
        </div>
        <div class="col-sm">
          <%= render "bookings/new" %>
        </div>

      </div>

    </div>

    </p><%= link_to 'Back to index', pokemons_path, class: "ml-3" %><p>
  </div>
</div>
