<div class="container">
  <h1>Pokemon Listing Details</h1>
  <br>
  <h2>&nbsp;<%= @pokemon.name %>

  <% if policy(@pokemon).edit? %>
    <small>
      <%= link_to edit_pokemon_path(@pokemon) do %>
        <i class="fa fa-pencil-alt"></i>
      <% end %>
      <% if @pokemon.is_active %>
        <%= link_to deactivate_path(@pokemon), method: :patch do %>
          <i class="fas fa-circle" style="color: green;"></i>
          <% flash.each do |key, value| %>
            <div class="alert alert-warning">
              <%= value %>
            </div>
          <% end %>

          <%= yield %>
        <% end %>
      <% else %>
        <%= link_to reactivate_path(@pokemon), method: :patch do %>
          <i class="fas fa-circle" style="color: red;"></i>
          <% flash.each do |key, value| %>
            <div class="alert alert-success">
              <%= value %>
            </div>
          <% end %>

          <%= yield %>
        <% end %>
      <% end %>
    </small>
  <% end %>

  </h2>
  <hr>

  <div class="card-show">
    <div class="image">
        <%= image_tag @pokemon.photo, width: 280, crop: :fill %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="list">

            <p><strong>Pokemon details</strong></>
              <li>Name: <%= @pokemon.name %></li>
              <li>Type: <%= @pokemon.category %></li>
              <li>Level: <%= @pokemon.level %></li>
              <li>Location: <%= @pokemon.address %></li>
              <li>Rating: <%= @pokemon.rating %></li>
              <li>Price: <%= @pokemon.price_per_day %></li>
              <br>

          </div>
        </div>
        <div class="col-sm">
          <%= render "bookings/new" %>
        </div>

      </div>

    </div>

    </p><%= link_to 'Back to index', pokemons_path, class: "ml-3" %><p>
  </div>
</div>
